body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar a {
  padding: 20px;
  border-bottom: 1px solid #000;
}

a:hover {
  color: pink;
}

.content a {
  display: flex;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin: 25px auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 90%;
  height: 40px;
}